body {
    padding: 20px;
}

.title {
    font-size: 28px;
    margin: 10px;
}

textarea {
    display: block;
    width: 100%;
    height: 50vh;
    padding: 10px;
    min-height:50vh;
    min-width: 100%;
}

#buttons-container {
    margin: 1vh;
    display: flex;
}

button {
    background-color: #fd9f7a;
    margin-left: 10px;
    border-radius: 6px;
}